
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.logo
    margin: 3.2vh 0 0 1vw
.signin__form
    margin-top 4vw
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    flex-direction: column
.form_heading
    margin 0
    font-family: Inter;
    font-size: 4vh;
    font-weight: 800;
    text-align: left;
    color rgba(238, 235, 221, 1)
.input_element
    display: flex
    flex-direction: column
    gap 0.8vh
    margin-top 3.2vh
label
    color rgba(238, 235, 221, 1)
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    text-align: left;
#s_input
    color black
    background: rgba(238, 235, 221, 1)
    border: none
    outline: none
    width: 416px;
    height: 40px;
    border-radius: 0.5vh
    font-family: Inter;
    font-size: 2vh;
    padding 0 0 0 1vw
    box-sizing: border-box
#pass
    position relative
.eye
    position absolute
    right: 0.3vw
    top 3.5vh
.cyberpunk-checkbox {
    margin: 0
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: rgba(238, 235, 221, 1);
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.cyberpunk-checkbox:before {
    content: "";
    background-color: rgba(27, 23, 23, 1);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}
#check
    width: 416px;
    display: flex
    align-items: center
    flex-direction: row
.check_label
    margin: 0
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    text-align: left;
    color rgba(255, 255, 255, 1)
.form_btn
    display: flex
    justify-content: center
    align-items: center
    cursor pointer
    margin: 5vh 0 0 0
    width: 8vw;
    height: 5vh;
    border-radius: 1vh
    border: none
    outline: none
    background: rgba(238, 235, 221, 1)
    font-family: Inter;
    font-size: 1.6vh;
    font-weight: 400;
    color rgba(27, 23, 23, 1)
    transition: 1s
    text-decoration: none;
.form_btn:hover
    background: rgb(250, 249, 245)

.for_pass
    cursor: pointer
    color: rgba(206, 18, 18, 1)
    font-family: Inter;
    font-size: 1.4vh;
    font-weight: 400;

.line
    width: 98%;
    height: 0.1vh;
    background: rgba(238, 235, 221, 1)

.footer
    margin-top 9vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
.info_section
    margin-top 1.5vh
    display: flex
    justify-content: center
    align-items: center
    gap 4vw
.info_text
    cursor pointer 
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    color: rgba(238, 235, 221, 1)
.s_line
    width 0.1vh
    height: 4vh
    background: rgba(238, 235, 221, 1)
    

.social_section
    margin-top 1.5vh
    display: flex
    gap 3vh
.footer_text
    margin 3vh 0 3vh 0
    font-family: Inter;
    font-size: 1.6vh;
    font-weight: 400;
    color: rgba(238, 235, 221, 1)
