.page {
    padding: 9vh 0 0 0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}




.banner
    width 100%
    height: 83.7vh
    background: black
    position relative
    overflow: hidden
    display: flex
.banner_img
    width 69%
    position: absolute
    top 0vh
    left: 5vw
.banner_text
    width 100%
    display: flex
    align-items: flex-end
    flex-direction: column
    padding: 5vh 3vw 0 0
    box-sizing: border-box

.banner_top_t
    position relative
    z-index 5
    color: white
    width 60%
    text-align: end
    font-family: Inter;
    font-size: 3.6vh;
    font-weight: 600;

.banner_bottomn_t
    width 38%
    position relative
    z-index 5
    color: white
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    text-align: right;
    color: white
#last
    width 30%
.btn_group
    margin: 19vh 0 0 0
    position relative
    z-index 5
    display: flex
    gap 4vh


.start
    cursor pointer
    font-family: Inter;
    font-size: 2vh;
    font-weight: 600;
    color white
    background: rgba(129, 0, 0, 1)
    width: 10vw;
    height: 8vh;
    border-radius: 1vh
    display: flex
    justify-content: center
    align-items: center
    border: 0.1vh solid rgba(129, 0, 0, 1)

.watch_t
    cursor pointer
    font-family: Inter;
    font-size: 2vh;
    font-weight: 600;
    color white
    background: none
    border: 0.4vh solid rgba(129, 0, 0, 1)
    width: 15vw;
    height: 8vh;
    border-radius: 1vh
    display: flex
    justify-content: center
    align-items: center
.events
    width 100%
    height: 70vh
    background: rgba(129, 0, 0, 1)
    display:flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap 4vh
.events_heading
    color: rgba(238, 235, 221, 1)
    font-family: Inter;
    font-size: 3.6vh;
    font-weight: 400;
    text-align: left;
.calendar_btn
    cursor pointer
    background: transparent
    border: 0.3vh solid rgba(238, 235, 221, 1)
    border-radius: 1.5vh
    font-family: Inter;
    font-size: 3.6vh;
    font-weight: 600;
    text-align: left;
    color: white
    padding: 1vw 4vw
.name
    font-family: Inter;
    font-size: 2vh;
    font-weight: 600;
    text-align: left;
    color rgba(238, 235, 221, 1)

.tickets_btn
    cursor pointer
    font-family: Inter;
    font-size: 2vh;
    font-weight: 600;
    text-align: left;
    color rgba(238, 235, 221, 1)
    background: transparent
    border: 0.3vh solid rgba(238, 235, 221, 1)
    border-radius: 1.5vh
    padding: 1vh 3vw
.date_c
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    text-align: left;
    color rgba(238, 235, 221, 1)
    text-align: center
    margin-top 1vh

.third_section
    width 100%
    background: rgba(238, 235, 221, 1)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 6vh 0 6vh 0
.third_heading
    margin 0
    color rgba(27, 23, 23, 1)
    font-family: Inter;
    font-size: 3.6vh;
    font-weight: 600;
.third_text
    margin 5vh 0 8vh 0
    color rgba(27, 23, 23, 1)
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    width 70%
    text-align: center
.new_workshop
    width 100%
    background: rgba(27, 23, 23, 1)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.workshop_heading
    font-family: Inter;
    font-size: 3.6vh;
    font-weight: 600;
    color rgba(238, 235, 221, 1)


.workshop
    position relative
    overflow: hidden
    width: 22vw;
    height: 25vh;
    border-radius: 10px
    background: rgba(0, 0, 0, 0.5)
    margin: 6vh 0 6vh 0
    display: flex
    flex-direction: column
    justify-content: space-between
.soon
    position relative
    z-index 1
    display: flex
    justify-content: center
    align-items: center
    border-radius: 1.5vh
    width 30%
    height: 3vh
    background: rgba(129, 0, 0, 1)
    font-family: Inter;
    font-size: 1.6vh
    font-weight: 600;
    color: rgba(238, 235, 221, 1)
.workshop_title
    font-family: Inter;
    font-size: 1.6vh;
    font-weight: 600;
    color: rgba(238, 235, 221, 1)
.workshop_text
    margin 0
    font-family: Inter;
    font-size: 1.4vh;
    font-weight: 400;
    color: rgba(238, 235, 221, 1)

.workoshop_text_sect
    padding: 0 0 0.8vh 0.8vh
    box-sizing: border-box
    position relative
    z-index 1
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
.first_img
    width 100%
    z-index 0
    position: absolute
    top 0
    left 0
.work_section
    width 90%
    display: flex
    justify-content: space-around
.about_section
    overflow: hidden
    display: flex
    width 100%
    height: 90vh
    background: rgba(238, 235, 221, 1)
.about_img
    width 50%
    user-select: none
.about_right
    width 50%
    height: 100%
.about_heading
    font-family: Inter;
    font-size: 4vh;
    font-weight: 600;
    color rgba(27, 23, 23, 1)
.about_rext
    width 70%
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    color rgba(27, 23, 23, 1)
.about_text_sec
    margin 10vh 0 0 5vw