.App {
  background-color: rgba(27, 23, 23, 1);
  overflow-y: scroll; /* Allow vertical scrolling */
  height: 100vh;
}

.App::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
}

/* For Firefox */
.App {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}